* {
	text-align: center;
	font-family: Helvetica;
}

a {
	display: inline;
    position: relative;
	letter-spacing: -2px; /* This will push it together giving us a nice 3D vibe */
	color: rgba(0,0,255,0.5); /* This will give us a blue at 50% opacity */
	font-size: 25px;
}

h1 {
    display: inline;
    position: relative;
    font-size: 75px;
	letter-spacing: -10px; /* This will push it together giving us a nice 3D vibe */
	color: rgba(0,0,255,0.5); /* This will give us a blue at 50% opacity */
}

ol {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5cm;
}

form {
	margin-top: 0.5cm;
	font-size: 20px;
}

li {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.description {
	margin-left: 10em;
	margin-right: 10em;
}

#header {
	width: 100%;
	background: url('../images/header-bg.png');
	height: 50px;
	position: fixed;
}

#nav { 
	width: 100%; 
	margin-top: 7px; 
	display: inline-block;
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	text-align: left;
}

#nav li {
	margin-top: 9px;
	padding-left: 21px;
	display: inline-block;
}

#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: 'Fanwood Text', serif;
}

#nav li a:hover { 
	color: #fff; 
	opacity:1; 
}