<h1 id="listtitle">{{lists.name}}</h1> 

<div class="restaurants"> 
	<ol>
	{{#each lists.restaurants as |restaurant|}}
			<li><a href='/res/{{restaurant.slug}}'>{{restaurant.name}}</a></li>
	{{/each}}
	</ol>

</div>


<form method="POST" action={{lists.slug}}>
	Restaurant: <input type="text" name="name">	
	<input type="submit" value="Add to list!">	
</form>

<br><a href="/userprofile">back to profile</a>