<h1>{{links.title}}</h1>, <a href={{links.url}}>{{links.url}}</a>
<br/>
<hr/>
<h2>Comments</h2>

<div class="content">
	{{#each links.comments as |comment|}}
		<div class="username">{{comment.name}} says:</div><div class="comment">{{comment.text}}</div><br>
	{{/each}}
</div>

{{#if err.errors.name}} 
	<div class="error">
	{{err.errors.name.message}}
	</div>
{{/if}}

<form method="POST" action='/foodienetwork/{{links.slug}}'>
	Comment: <input type="text" name="text" value="">	
	Name: <input type="text" name="name" value="">	
	<input type="submit" value="Add Comment"/>	
</form>

<form method="GET" action="/foodienetwork">
	<input name="button" type="submit" value="Vote">
</form>
<br>

<div class="lastcomment">the last comment made was:</div><div class="last">"{{lastComment}}"</div>

<br><a href="/foodienetwork">back to chat page</a>