<h1>{{title}}</h1>
<hr/>

<div class="description">
<p>ATTENTION ALL FOODIES. Are you having a tough time keeping track of the list of places you want to try? Does it bother you that you can’t remember where or what the name of that cute restaurant you passed by was called? Are you interested in networking with other foodies around the world to get their recommendations? Well, now you can do all these things in one place: Oh My Foodie!</p>
<p>After logging in, you can create or view your lists and add places to them. You can receive recommendations from our very own NomNomGuru! If there’s a restaurant you love and want the world to know about, you can add it to the app. Or if you simply want to connect with foodies around the world, you can chat via our Foodie Network.</p>
</div>


<form method="POST" action={{slug}}>
	Search: <input type="text" name="search" value="">	
	<input type="submit" value="Go"/>	
</form>