<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<header id="header">
<nav id="nav">
	<ul>
		<li><a href="/" class="active" title="Next Section">HOME</a></li>
		<li><a href="/userprofile" title="Next Section">MY PROFILE</a></li>
		<li><a href="/goodeats" title="Next Section">GOODEATS</a></li>
		<li><a href="/nomnomguru" title="Next Section">NOMNOMGURU</a></li>
		<li><a href="/foodienetwork" title="Next Section">FOODIENETWORK</a></li>
	</ul>
</nav>
</header>
    {{{body}}}
  </body>
</html>
