<h1>Foodie Network</h1>
<br/>
<hr/>

<div>
	{{#each links as |link|}}
	<ol>
	<li><a href={{link.url}}>{{link.title}}</a>, <a href='foodienetwork/{{link.slug}}'>[comments]</a></li>
	{{/each}}
	</ol>
</div>

<div class="error">
{{#if err}}
	{{#each err.errors}}
		{{message}}
	{{/each}}
{{/if}}</div>

<form method="POST" action="/foodienetwork">
	URL: <input type="url" name="url" value="">	
	Title: <input type="text" name="title" value="">	
	<input type="submit" value="Submit Link!"/>	
</form>