<h1>Hi, {{user.username}}!<h1>
<a href="/logout">Logout</a>

<div class="list">
	<ol>
	{{#each lists as |list|}}
		<li><a href={{list.slug}}>{{list.name}}</a></li>
	{{/each}}
	</ol>
</div>

<h3>Create a New List!<h3>

<form method="POST" action="/userprofile">
	List Name: <input type="text" name="name">	
	<input type="submit" value="Create list!">	
</form>