<h1>Username</h1>
																											
<div class="list">
	<ol>
	{{#each lists as |list|}}
		<li><a href='list/{{list.slug}}'>{{list.name}}</a></li>
	{{/each}}
	</ol>
</div>

<div class="error">
{{#if err}}
	{{#each err.errors}}
		{{message}}
	{{/each}}
{{/if}}</div>

<h3>Create a New List!</h3>

<form method="POST" action="userprofile">
	List Name: <input type="text" name="name">	
	<input type="submit" value="Create list!">	
</form>